  <section>

    <tui-block-status
      *ngIf="(inventariosState$ | async)?.inventarios?.length === 0 && !(inventariosState$ | async)?.loadingProductosInventario else tabla"
      size="m" class="m-auto">
      <img alt="survived"
        src="https://res.cloudinary.com/ddksrkond/image/upload/v1743382501/APP%20INVENTARIO/undraw_no-data_ig65_k666oz.svg"
        tuiSlot="top" />

      <h4>Aun no tienes ningun producto en el Inventario</h4>

      <span>Empieza a hacer el inventario</span>

      <button appearance="primary" size="s" tuiButton type="button">
        Crear Inventario
      </button>
    </tui-block-status>

    <ng-template #tabla>
      <search tuiSearch class="pb-4">
        <form [formGroup]="form" (submit)="onSubmitSearch()">
          <fieldset tuiTextfieldSize="s">
            <tui-textfield iconStart="@tui.search">
              <input tuiTheme="ligth" formControlName="nombre" placeholder="Buscar por nombre" tuiTextfield />
            </tui-textfield>

            <tui-select class="w-44" formControlName="categoria" [stringify]="stringify">
              Categoria
              <select placeholder="Categoria" tuiSelect [items]="(selectCategorias$ | async)"></select>
            </tui-select>
            <button size="s" appearance="primary-grayscale" tuiButton type="submit" (click)="onSubmitSearch()"
              [disabled]="!form.value.nombre && !form.value.categoria && form.value.activo === null">
              >
              Buscar
            </button>
          </fieldset>
          <fieldset>
            Resultados: {{((inventariosState$ | async)?.count )}}
            <hr />
            <button appearance="flat-grayscale" iconStart="@tui.rotate-cw" size="xs" tuiButton type="reset"
              (click)="clearSearch()">
              Limpiar {{ count() ? '(' + count() + ')' : '' }}
            </button>

          </fieldset>
        </form>
      </search>

      <tui-loader [overlay]="true" [showLoader]="!!(inventariosState$ | async)?.loadingSearch ">
        <div
          *ngIf="((inventariosState$ | async)?.search_products_found ) === '' || ((inventariosState$ | async)?.search_products_found === 'products_found') ">
          <table tuiTable [columns]="allColumnKeys" size="s">
            <thead>
              <tr>
                <th *ngFor="let column of allColumns" tuiTh>{{ column.label }}</th>
                <th tuiTh>Activo</th>
                <th tuiTh>Costo Compra</th>
                <th tuiTh>Costo Venta</th>
                <th tuiTh>Stock</th>
                <th tuiTh>Acciones</th>


              </tr>
            </thead>
            <tbody tuiTbody>
              <tr *ngFor="let inventario of (inventariosState$ | async)?.inventarios ?? []">
                <td *ngFor="let column of allColumns" tuiTd>{{ getInventarioValue(inventario, column.key) }}</td>
                <td tuiTd>
                  <tui-badge [appearance]="inventario.activo ? 'positive' : 'negative'">{{ inventario.activo ? 'Activo'
                    : 'No
                    activo' }}</tui-badge>
                </td>
                <td tuiTd>
                  <div tuiBlockDetails>
                    <span class="  text-lg">
                      S/. {{ inventario.costo_compra }}
                    </span>
                  </div>

                </td>


                <td tuiTd>
                  <div tuiBlockDetails>
                    <span class=" text-lg">
                      S/. {{ inventario.costo_venta }}
                    </span>
                  </div>
                </td>
                <td tuiTd>
                  <div tuiBlockDetails>
                    <span class="-translate-y-1" [ngClass]="getColorClass(inventario.cantidad)">
                      {{ inventario.cantidad }}
                    </span>
                  </div>
                </td>
                <td tuiTd>
                  <div class="flex gap-2 " *ngIf="mode === 'normal'">

                    <button appearance="error" (click)="eliminarInventario(inventario.id)" iconStart="@tui.trash"
                      tuiButton  type="button">
                      Eliminar
                    </button>

                    <button appearance="info" (click)="showDialogEditInventario(inventario)" iconStart="@tui.pencil"
                      tuiButton  type="button">
                      Actualizar
                    </button>
                  </div>
                 <div class="flex gap-2 " *ngIf="mode === 'select_product_sale_mode'">
                    <button [disabled]="inventario.cantidad <= 0"
                        [appearance]="inventario.cantidad <= 0 ? 'secondary-grayscale': 'positive'" class="w-full"
                        (click)="cerrarDialogo(inventario)" [iconStart]="inventario.cantidad <= 0 ? '@tui.lock': '@tui.plus'"
                        tuiButton  type="button">
                        Agregar producto
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <tui-block-status *ngIf="((inventariosState$ | async)?.search_products_found ) === 'products_not_found'"
          size="m" class="m-auto">
          <img alt="survived"
            src="https://res.cloudinary.com/ddksrkond/image/upload/v1743382501/APP%20INVENTARIO/undraw_no-data_ig65_k666oz.svg"
            tuiSlot="top" />

          <h4>Productos no encontrados en el Inventario</h4>

          <span>No coicidimos con ningun producto </span>


        </tui-block-status>
        <div class="pt-4"
          *ngIf="((inventariosState$ | async)?.search_products_found ) === 'products_found' || ((inventariosState$ | async)?.search_products_found ) === '' ">
          <tui-pagination [index]="(inventariosState$ | async)?.index_page"
            [length]="(inventariosState$ | async)?.length_pages" (indexChange)="goToPage($event)" />
        </div>
      </tui-loader>

    </ng-template>

  </section>