<div class="p-10">

    <div class="flex gap-2">
        <button iconStart="@tui.plus" tuiButton appearance="info" tuiButtonVertical type="button" class="my-5 pr-3"
            (click)="showDialogCreateProduct()">
            Agregar nuevo producto
        </button>
        <button iconStart="@tui.pencil" disabled tuiButton appearance="positive" tuiButtonVertical type="button"
            class="my-5 pr-3">
            Actualizar por lotes
        </button>
    </div>
    <app-tableproduct></app-tableproduct>
        <div class="flex gap-2 py-4">
            <button iconStart="@tui.plus" tuiButton appearance="info" tuiButtonVertical type="button"
                class="my-5 pl-4" (click)="showDialogCreateCategoria()">
                Agregar categoria
            </button>
        </div>
        <app-tablecategories></app-tablecategories>
</div>