[tuiTh],
[tuiTd] {
    border-inline-start: none;
    border-inline-end: none;
    border: 1px solid var(--tui-background-base-alt); /* Borde oscuro */
}

[tuiTable][data-size='s'] [tuiTitle] {
    flex-direction: row;
    gap: 0.375rem;
    border-top: 0;
}
  table {
    width: 100%;
    border-collapse: collapse; /* Quitar espacios entre celdas */
    border-radius: 12px; /* Bordes redondeados */
    border: 1px solid var(--tui-background-base-alt); /* Borde oscuro */
    overflow: hidden; /* Asegurar que respete el borde redondeado */
  }