<div class="max-w-4xl mx-auto pt-6 rounded-lg ">
    <form [formGroup]="passwordsForm" (ngSubmit)="onSubmit()" class="grid grid-cols-1 md:grid-cols-2 gap-6">



        <div class="flex flex-col">

            <tui-textfield>
                <label tuiLabel>Password</label>
                <input placeholder="************" tuiTextfield type="password" formControlName="password" />
                <tui-icon tuiPassword />
            </tui-textfield>
        </div>
        <div class="flex flex-col">

            <tui-textfield>
                <label tuiLabel>Re-Password</label>
                <input placeholder="************" tuiTextfield type="re_password" formControlName="password" />
                <tui-icon tuiPassword />
            </tui-textfield>
        </div>
        <!-- Botón de envío -->
        <div class="col-span-2 flex justify-end">
            <button tuiButton type="submit" [disabled]="passwordsForm.invalid"
                class="px-6 py-2 bg-blue-600 text-white rounded-full hover:bg-blue-700 transition">
                Crear User
            </button>
        </div>
    </form>
</div>