<div class="p-10">

  <div class="flex gap-2">
    <button iconStart="@tui.plus" tuiButton appearance="info" tuiButtonVertical type="button" class="my-5 pr-3"
      (click)="showDialog()">
      Crear Inventario
    </button>

  </div>


  <table tuiTable  [columns]="allColumnKeys" >
    <thead>
      <tr>
        <th *ngFor="let column of allColumns" tuiTh>{{ column.label }}</th>
        <th tuiTh>Activo</th>
        <th tuiTh>Stock</th>
        <th tuiTh>Acciones</th>


      </tr>
    </thead>
    <tbody tuiTbody>
      <tr *ngFor="let inventario of (inventariosState$ | async)?.inventarios ?? []">
        <td *ngFor="let column of allColumns" tuiTd>{{ getInventarioValue(inventario, column.key) }}</td>
        <td tuiTd>
          <tui-badge [appearance]="inventario.activo ? 'positive' : 'negative'">{{ inventario.activo ? 'Activo' : 'No
            activo' }}</tui-badge>
        </td>
        <td  tuiTd>
          
               <div tuiBlockDetails class="">
              <span class="-translate-y-1" [ngClass]="getColorClass(inventario.cantidad)">
        {{ inventario.cantidad }}
    </span>
          </div>
          
         

        </td> 
        <td tuiTd>
          <div class="flex gap-2 ">
           
            <button appearance="error" (click)="eliminarInventario(inventario.id)" iconStart="@tui.trash" tuiButton tuiButtonVertical type="button">
              Eliminar 
            </button>

            <button appearance="info" (click)="showDialogEditInventario(inventario)"  iconStart="@tui.pencil" tuiButton tuiButtonVertical type="button">
              Actualizar 
            </button>
          </div>

        </td>
      </tr>
    </tbody>
  </table>