h3{
    font-weight: bold;
}

:host {
    

    --tui-background-accent-2: var(--tui-status-info);
}

.wrapper {
   
    &_web {
        border: 1px solid var(--tui-border-normal);
        border-left-width: 0;

        &:first-child {
            border-right-width: 0;
            border-left-width: 1px;
        }
    }
}
label input{
    cursor:default;

}