<div class="form-container mt-6  rounded-lg ">
  <form [formGroup]="inventarioForm2" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <div class="flex flex-wrap w-full flex-1 gap-3">
      <tui-select class="w-full flex-1" formControlName="producto" [valueContent]="productContent">
        Selecciona un producto
        <tui-data-list-wrapper *tuiDataList [itemContent]="productContent" [items]="productos" />
      </tui-select>

      <ng-template #productContent let-item>
        <div class="card-item">

          <span class="card-name">{{ item.nombre }}</span>

        </div>
      </ng-template>
      <tui-select class="w-full flex-1" formControlName="proveedor" [valueContent]="proveedorContent">
        Selecciona un proveedor
        <tui-data-list-wrapper *tuiDataList [itemContent]="proveedorContent" [items]="proveedores" />
      </tui-select>
    </div>

    <ng-template #proveedorContent let-item>
      <div class="card-item">

        <span class="card-name">{{ item.nombre }}</span>

      </div>
    </ng-template>

    <ng-template #tiendasContent let-item>
      <div class="card-item">

        <span class="card-name">{{ item.nombre }}</span>

      </div>
    </ng-template>


    <!-- Campos numéricos en una fila -->
    <div class="flex gap-3 col-span-1 md:col-span-2 w-full flex-wrap">
      <tui-textfield class="flex-1">
        <label tuiLabel>Cantidad</label>
        <input [max]="100" [min]="0" [step]="1" tuiInputNumber formControlName="cantidad" />
      </tui-textfield>

      <tui-textfield class="flex-1">
        <label tuiLabel>Stock Minimo</label>
        <input [max]="100" [min]="0" [step]="1" tuiInputNumber formControlName="stock_minimo" />
      </tui-textfield>

      <tui-textfield class="flex-1">
        <label tuiLabel>Stock Maximo</label>
        <input [max]="100" [min]="0" [step]="1" tuiInputNumber formControlName="stock_maximo" />
      </tui-textfield>

    </div>
    <div class="flex space-x-3 w-full col-span-2">
      <tui-textfield tuiTextfieldController class="flex flex-2 w-full">
        <label tuiLabel>Costo Compra</label>
        <input [min]="0" tuiInputNumber formControlName="costo_compra" />

      </tui-textfield>
      <tui-textfield tuiTextfieldController class="flex flex-2 w-full">
        <label tuiLabel>Costo Venta</label>
        <input [min]="0" [tuiNumberFormat]="{precision: 2}" tuiInputNumber formControlName="costo_venta" />

      </tui-textfield>
    </div>


    <tui-textarea formControlName="descripcion" class="w-full  col-span-2">
      <label tuiLabel>Descripción</label>
    </tui-textarea>
    <!-- Botón -->

    <button tuiButton iconStart="@tui.plus" size="m" class="w-full flex col-span-2" type="submit" type="submit"
      appearance="primary-grayscale" [disabled]="inventarioForm2.invalid">
      Crear Inventario
    </button>


  </form>
</div>