<section class="m-6">
<search tuiSearch>
    <form [formGroup]="form">
        <fieldset tuiTextfieldSize="s">
            <tui-textfield iconStart="@tui.search">
                <input
                    formControlName="search"
                    placeholder="Search"
                    tuiTextfield
                />
            </tui-textfield>
            <tui-textfield tuiChevron>
                <select
                    formControlName="select"
                    placeholder="User"
                    tuiTextfield
                ></select>
                <tui-data-list-wrapper
                    *tuiTextfieldDropdown
                    [items]="items"
                />
            </tui-textfield>
            <button
                size="s"
                tuiButton
                type="button"
            >
                Search
            </button>
        </fieldset>
        <fieldset>
            <tui-segmented>
                <label *ngFor="let segment of segments">
                    <input
                        formControlName="segmented"
                        type="radio"
                        [value]="segment"
                    />
                    {{ segment || 'All' }}
                </label>
            </tui-segmented>
            <tui-filter
                formControlName="filter"
                size="s"
                [items]="filters"
            />
            Results: 999
            <hr />
            <label tuiLabel>
                <input
                    formControlName="switch"
                    tuiSwitch
                    type="checkbox"
                />
                Assigned to me
            </label>
            <hr />
            <button
                appearance="flat"
                iconStart="@tui.rotate-cw"
                size="xs"
                tuiButton
                type="reset"
                [disabled]="!count()"
            >
                Clear {{ count() ? '(' + count() + ')' : '' }}
            </button>
            <button
                iconStart="@tui.cloud-download"
                tuiLink
                type="button"
                [style.margin-inline-start]="'auto'"
            >
                Download
            </button>
        </fieldset>
    </form>
</search>



<table tuiTable size="s"  class=" w-full pt-3" [columns]="allColumnKeys">
  <thead>
    <tr>
      <th tuiTh>ID</th>
      <th tuiTh>Productos Vendidos</th>
      <th tuiTh>Comprobante</th>
      <th *ngFor="let column of allColumns" tuiTh>{{ column.label }}</th>
            <th tuiTh>Estado</th>
      <th tuiTh>Total</th>
      
      <th tuiTh>Acciones</th>
    </tr>
  </thead>
  <tbody tuiTbody *ngIf="(ventasState$ | async)?.ventas?.length">
    <tr *ngFor="let venta of (ventasState$ | async)?.ventas ?? []">
      <td tuiTd>{{venta.id}}</td>


      <td tuiTd>

        <div *ngFor="let productos of venta.productos">

          <tui-badge appearance="neutral">{{ productos.producto_nombre }}</tui-badge>


        </div>
      </td>
      <td tuiTd>

        <tui-badge [appearance]="venta.tipo_comprobante === 'Boleta' ? 'info' : 'warning'">
          {{ venta.tipo_comprobante }}
        </tui-badge>
      </td>

      <td *ngFor="let column of allColumns" tuiTd>{{ getVentaValue(venta, column.key) }}</td>
      <td tuiTd>
        <tui-badge [appearance]="venta.estado === 'Cancelado' ? 'error' : 
                 venta.estado === 'Completada' ? 'positive' : 
                 venta.estado === 'En Espera Sunat' ? 'warning' : 'neutral'" tuiStatus>
          {{ venta.estado }}
        </tui-badge>
      </td>
      <td  tuiTd> <p class="font-bold text-lg w-24 text-nowrap">
S/. {{venta.total}}
      </p></td>
      <td tuiTd>
        <div class="flex gap-2 ">
          <button appearance="secondary" (click)="showDialogVentaDetail(venta)" iconStart="@tui.info" tuiButton tuiButtonVertical
            type="button">
            Ver
          </button>
        </div>

      </td>

    </tr>
  </tbody>
</table>

</section>

