<div class="p-6  text-zinc-200">


    <tui-segmented class="mb-6">
        <button type="button">Hoy</button>
        <button type="button">Últimos 7 días</button>
        <button type="button">Últimos 30 días</button>
        <button type="button">Todo</button>
    </tui-segmented>

    <app-dashboard-sales-cards></app-dashboard-sales-cards>
    <div class="flex gap-4 pt-4">


    <app-chartsalesbetweentwodates></app-chartsalesbetweentwodates>
    <app-dashboard-products-most-sales></app-dashboard-products-most-sales>
        </div>
    <app-dashboard-low-stock></app-dashboard-low-stock>
</div>